<h1>About Us</h1>
<hr />
<h3>Yoda’s Organic Garden is locally owned and operated in Fishers, Indiana.  We specialize in randomly named flowers, shrubs, and trees that are optimally grown in the Midwest.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis neque quis ligula facilisis hendrerit in vel nibh. Suspendisse at dapibus justo. Etiam viverra eros enim, dictum vehicula sapien varius a. Phasellus congue sapien at tortor accumsan lacinia. Praesent semper nisl sit amet odio porttitor, et mattis lectus tempus. Suspendisse justo ipsum, tempus ut nunc sed, dictum condimentum elit. Maecenas faucibus efficitur rhoncus. Nunc sit amet felis leo. Praesent luctus a urna nec malesuada. Donec accumsan mauris cursus, auctor libero quis, consectetur lacus.</p>

  <p>Etiam ut urna ac elit lobortis consectetur. Pellentesque tempor turpis magna, vitae dictum ligula blandit id. Maecenas laoreet porta orci, eget varius ipsum posuere et. Suspendisse placerat consectetur nulla ac suscipit. Aenean nisl dui, auctor in purus sed, vehicula efficitur est. Duis eleifend mollis felis nec facilisis. Pellentesque vitae lobortis dui, id vestibulum magna. Donec et nulla vitae risus viverra fringilla nec at dolor. </p>


<section id="contact">
  <div class="container">
    <h1 class="text-center text-uppercase">Contact Us</h1>
    <div class="row">
      <form action="https://formspree.io/angie.creed15@gmail.com" method="POST">
        <div class="control-group">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your Name"
              id="name"
              required
              data-validation-required-message="Please enter your name"
              name="name"
              >
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group">
            <label>Email Address</label>
            <input
              type="email"
              class="form-control"
              placeholder="Your Email"
              id="email"
              required
              data-validation-required-message="Please enter your email"
              name="_replyto"
            >
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="7"
              placeholder="Your Message"
              id="message"
              required
              data-validation-required-message="Please leave a message"
              name="message"
            ></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="text-center">
          <div id="success"></div>
          <button type="submit" class="btn btn-md btn-black">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
